* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
}

.list {
  list-style: none;
}

.small-font {
  font-size: .7rem;
}

html {
  scroll-behavior:smooth
}

.debug {
  border: 1px solid black;
  background-color: red;
}

.debug2 {
  border: 1px solid black;
  background-color: blue;
}

.btn {
  padding: 5px 15px;
  border: 1px solid #0061FF;
  color: white;
}

.btn:hover {
  background-color: #5697ff;
}

/* Color Palette  */

.black {
  background-color: black;
}

.light-blue {
  background-color: #B4D0E7;
}
.blue {
  background-color: #0062ff;
}
.green-design {
  background-color: #A2D39B;
}
.granate-asu {
  background-color: #61082B;
}
.blue-florida {
  background-color: #0093CE;
}
.red-topps {
  background-color: #FF1C1C;
}
.red-wbr {
  background-color: #D5001F;
}
.blue-lonely {
  background-color: #0D2481;
}
.yellow-clear {
  background-color: #FFD830;
}
.blue-hearst {
  background-color: #B4D0E7;
}
.violet {
  background-color: #61082B;
}
.grey-center {
  background-color: #F5F5F5;
}
.grey-font {
  color: gray;
}

/* container  */

.container-large {
  width: 900px;
  margin: 0 auto;
}

.container-fit {
  width: 700px;
  margin: 0 auto;
}

/* Header */

header {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  min-width: 800px;
}
/* FIXME: righetta sotto non centrata con il testo */
.Logo {
  height: 25%;
  padding: 0 20px;
  margin: auto;
}

header ul li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

header ul .BB:hover {
  border-bottom: 2px solid black;
}

header ul li a{
  text-decoration: none;
  font-size: .7rem;
  color: black;
  font-weight: 600;
}

header .left-head ul li {
  margin-right: 15px;
}

header .right-head ul li {
  margin-left: 15px;
}

header .right-head ul :last-child {
  cursor: auto;
}

header .right-head ul :last-child a {
  cursor: pointer;
}

.invia {
  margin-right: 20px;
}

/* Main  */

main {
  padding-top: 70px;
}

main .light-blue .container-large h1 {
  font-size: 3rem;
  padding-top: 50px;
  font-weight: 800;
}

.jumbo-left {
  width: 30%;
  display: inline-block;
  padding-top: 50px;
}

.Proposta {
  width: 100%;
  position: relative;
  top: 60px;
}

main .light-blue .container-large .jumbo-left p {
font-weight: 600;
padding-bottom: 20px;
}

main .light-blue .container-large .jumbo-left a { 
  text-decoration: none;
  color: white;
}

.null {
  padding-top: 30px;
}

main .light-blue .container-large .jumbo-left .fa-arrow-down{
  color: black;
}

.fa-arrow-down {
  font-size: 3rem;
  padding-top: 50px;
}

.jumbo-right {
  width: 70%;
  display: inline-block;
}

.pad-up {
  margin-top: 100px;
}

main section .pad-up h2 {
  padding-bottom: 20px;
}

main section .pad-up span {
  font-size: .7rem;
  padding-right: 30px;
}

section .pad-up {
  margin-bottom: 50px;
}

/* Sezione cards  */

.cards {
  justify-content: space-between;
  padding-top: 10px;
}

.card {
  width: 30%;
  border: 1px solid lightgray;
}

.card-head {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding: 10px 10px;
  font-size: .8rem;
}

main section .card ul li {
  list-style: none;
}

main section .card .info {
  width: 80%;
  padding-left: 15px;
  padding-top: 20px;
}

main section .card .info h4 {
  padding-bottom: 10px;
}

main section .card .info .price {
  font-weight: 700;
  padding-bottom: 10px;
}

main section .card .info .time {
  padding-bottom: 40px;
  color: gray;
}

main section .card .info .fa-ul li {
  font-size: .6rem;
  padding-bottom: 15px;
  margin-left: -25px;
  }

main section .card .button a {
  width: 85%;
  display: inline-block;
  font-size: .7rem;
  text-decoration: none;
}

main section .card .button {
  text-align: center;
}

main section .card span {
  color: lightgray;
}

main section .card .info li {
  padding-bottom: 15px;
}

.horizontal {
  padding-top: 40px;
}

.horizontal .card {
  width: 100%;
}

.horizontal .card .info {
  width: 100%;
  justify-content: space-between;
}

.horizontal .card .info .button a {
  cursor: pointer;
  margin-right: 20px;
  width: 90%;
}

.horizontal .card .info div {
  width: 70%;
  padding-bottom: 20px;
}

.horizontal .card .info div .contatta {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 40px;
}

.green-design:active {
  border: 10px solid #bfecb9;
}

.granate-asu:active {
  border: 10px solid #a02858;
}

.blue-florida:active {
  border: 10px solid #49aed6;
}

.red-topps:active {
  border: 10px solid #fa5656;
}

.red-wbr:active {
  border: 10px solid #e7314c;
}

.blue-hearst:active {
  border: 10px solid #ccd7e0;
}

.blue-lonely:active {
  border: 10px solid #364ca7;
}

.yellow-clear:active {
  border: 10px solid #ffe46e;
}
/* Sezione cards finita */
 
/* Sezione partner  */
.Partner {
  width: 60%;
}

.Hellosign {
  padding-top: 70px;
}

.Hellosign div {
  padding-left: 30px;
  padding-top: 30px;
}

.Hellosign div p {
  padding: 20px 0;
  font-weight: 600;
  padding-right: 25px;
}

.Hellosign div a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
}

.Hellosign div a:hover {
  background-color: lightgray;
}

.Hellosign div a:active {
  background-color: lightgrey;
}

/* sezione partner finita  */


/* sezione features  */
.features {
  padding-top: 70px;
  padding-bottom: 40px;
}

.features .flex .feature {
  width: 30%;
  padding-bottom: 20px;
}

.features .flex {
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-feature {
  width: 100%;
  background-position: cover;
  padding-top: 20px;
}

/* Sezione features completata  */

/* Sezione customers  */

.cust-top h2 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.cust-bottom {
  padding-top: 60px;
}

.cust-bottom .cust-center,.cust-left,.cust-right {
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}

.cust-bottom .cust-left,.cust-right {
  flex-wrap: wrap;
}

.cust-bottom .customer {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.cust-bottom .cust-left img {
  width: 100px;
  filter: invert(100%) sepia(34%) saturate(837%) hue-rotate(197deg) brightness(108%) contrast(101%);
}
.cust-bottom .cust-right img {
  width: 100px;
  filter: invert(100%) sepia(34%) saturate(837%) hue-rotate(197deg) brightness(108%) contrast(101%);
}

.designit {
  width: 200px;
  padding-top: 50px;
  padding-left: 30px;
}

.cust-bottom .cust-center .line {
  padding-left: 30px;
  color: lightgray;
  padding-top: 10px;
}

.cust-bottom .cust-center {
  overflow-y: auto;
}

.cust-bottom .cust-center .quote {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  font-weight: 600;
}

.name{
  padding-left: 30px;
  padding-top: 30px;
  font-weight: 600;
}

/* Sezione customers completata */

/* Sezione prova gratuita  */

.free-trial {
  height: 200px;
  align-items: center;
}

.free-trial div a {
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
  height: 28px;
}

.free-trial div a:hover {
  background-color: lightgrey;
}

.free-trial div {
  justify-content: space-between;
}

.free-trial div h2 {
  color: #61082B;
}
/* Sezione prova gratuita completata  */

/* Sezione FAQ */

.FAQ {
  padding-bottom: 50px;
}

.FAQ .container-fit h2 {
  padding-top: 50px;
  padding-bottom: 30px;
}

.FAQ .container-fit .border {
  border-bottom: 1px solid lightgrey;
}

.FAQ .container-fit div p {
  padding: 20px 0;
  font-weight: 600;
}

.FAQ .container-fit .flex {
  align-items: center;
  justify-content: space-between;
}

.FAQ .container-fit div i {
  font-size: .6rem;
  font-weight: 600;
}

.difference {
  display: inline-block;
  margin-right: 235px;
}

.disappear {
  padding-bottom: 20px;
  display: none;
}

.FAQ .container-fit div:hover + .disappear {
  display: block;
}

.FAQ .container-fit div:hover i {
  rotate: 180deg;
}

/* Sezione FAQ completata */

footer {
  color: white;
  font-weight: 700;
}

footer .footer-top ul {
  list-style-type: none;
  font-size: .7rem;
  font-weight: 500;
  padding-bottom: 30px;
}

footer .footer-top {
  justify-content: space-between;
}

footer .footer-top ul li {
  padding-bottom: 10px;
}

footer .footer-top ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-top ul li a:hover {
  text-decoration: underline;
}

footer .footer-top div {
  padding-bottom: 20px;
  padding-top: 50px;
}

footer .footer-bottom .language {
  padding-left: 5px;
}

footer .footer-bottom p {
  padding-bottom: 40px;
}

footer .footer-bottom .fa-caret-up {
  font-size: .6rem;
}

footer .footer-bottom {
  padding-bottom: 30px;
}
